/* styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide scrollbar for WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox 64+ */
}

.hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* WebKit-based browsers */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    display: none; /* WebKit-based browsers */
}