/* styles/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Hide scrollbar for WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox 64+ */
}

.hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* WebKit-based browsers */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    display: none; /* WebKit-based browsers */
}

.theme-gradient {
    background: rgb(226,235,193);
    background: -moz-linear-gradient(0deg, rgba(226,235,193,1) 0%, rgba(239,86,87,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(226,235,193,1) 0%, rgba(239,86,87,1) 100%);
    background: linear-gradient(0deg, rgba(226,235,193,1) 0%, rgba(239,86,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2ebc1",endColorstr="#ef5657",GradientType=1);
}

.weekday {
  grid-column: span 7; /* Each weekday cell spans 7 columns */
}

.month {
  grid-column: span 37; /* Each month spans all 37 columns */
}

.monthdays {
  display: grid;
  grid-template-columns: repeat(37, 1fr); /* 37 columns */
  grid-template-rows: repeat(13, auto); /* 13 rows */
}

.monthdays > div {
  width: calc(100% / 37); /* Each day cell occupies 1/37th of the width */
}